<template>
    <div class="">
        <div>
            <div class="page-link" v-if="is_display_link" style="margin-top: 15px;">
                <center><a :href="page_url" target="_blank">LINK TO THE PAGE THAT SHOW ALL THE USER GUIDES</a></center>
            </div>
            <div class="Polaris-Page"  v-if="Object.keys(errors).length > 0">
                <div class="Polaris-Page__Content">
                    <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                        <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner10Heading" aria-describedby="Banner10Content">
                            <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <circle fill="currentColor" cx="10" cy="10" r="9"></circle>
          <path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path>
        </svg></span></div>
                            <div>
                                <div class="Polaris-Banner__Content" id="Banner10Content">
                                    <p v-for="(item,index) in errors">{{ item[0] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form ref="form" enctype="multipart/form-data" id="userguide-form">
                <div class="Polaris-Page">
                    <div class="Polaris-Page__Content">
                        <div class="Polaris-Card">
                            <div class="Polaris-Card__Header">
                                <h1 class="Polaris-Heading">Name your user guide</h1>
                            </div>
                            <div class="Polaris-Card__Section">
                                <div class="Polaris-Page-Header--separator">
                                    <form method="post">
                                        <div class="Polaris-FormLayout">
                                            <div class="Polaris-FormLayout__Item">
                                                <div class="">
                                                    <div class="Polaris-TextField">
                                                        <input class="Polaris-TextField__Input" type="text"
                                                          placeholder="Enter Title" v-model="form.ruleset_name" :readonly="is_all_disable">
                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="Polaris-Card">
                            <div class="Polaris-Card__Header">
                                <h1 class="Polaris-Heading">Status</h1>
                            </div>
                            <div class="Polaris-Card__Section">
                                <div class="Polaris-FormLayout__Items">
                                    <div class="my_item">
                                        <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ form.status?primaryClass:'']"
                                                        @click="form.status = !form.status"><span
                                                    class="Polaris-Button__Content"><span
                                                    class="Polaris-Button__Text">Enable</span></span></button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--sizeSlim"
                                                        v-bind:class="[ !form.status?primaryClass:'']"
                                                        @click="form.status = !form.status" ><span
                                                    class="Polaris-Button__Content"><span
                                                    class="Polaris-Button__Text">Disable</span></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Polaris-Card">
                            <div class="Polaris-Card__Header">
                                <h1 class="Polaris-Heading">Select products for guide</h1>
                            </div>
                            <div class="Polaris-Card__Section">
                                <form method="post">
                                    <div class="Polaris-FormLayout">
                                        <div class="Polaris-FormLayout__Item">
                                            <div data-polaris-theme-provider="true"
                                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                                <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <div class="">
                                                            <button  type="button" class="Polaris-Button Polaris-Button--sizeSlim Polaris-Button--primary"
                                                                @click="productPicker()" v-bind:class="{'Polaris-Button--disabled' : ( is_all_disable )}"><span
                                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Select products </span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div  v-if="form.selectedProducts">
                                                    <div class="offer-product-item my-3" v-for="(item, index) in form.selectedProducts">
                                                        <div class="offer-product-img">
                                                        <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                         <img :src="item.image" class="Polaris-Thumbnail__Image" />
                                                        </span>
                                                            <div class="pl-3">{{item.title}}</div>
                                                        </div>
                                                        <a href="#" class="action-item" @click.prevent="deleteProduct([item.id,index,item.item_id])">
                                                            <img src="/images/polaris/icons/delete-icon.svg" alt="" style="    width: 17px;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="Polaris-Card">
                            <div class="Polaris-Card__Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <div><label class="Polaris-Choice" for="disabled"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="disabled" name="guide-type" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="0"  @change="form.guide_type = 0" :checked="(parseInt(form.guide_type) === 0 )" :disabled="is_all_disable"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Create Guide</span></label>
                                            <div class="Polaris-Choice__Descriptions">
                                                <div class="Polaris-Choice__HelpText" id="disabledHelpText">Merchant can create new guide.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-Stack__Item">
                                        <div><label class="Polaris-Choice" for="optional"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="optional" name="guide-type" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value="1" @change="form.guide_type = 1" :checked="(parseInt(form.guide_type) === 1 )" :disabled="is_all_disable"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Upload PDF</span></label>
                                            <div class="Polaris-Choice__Descriptions">
                                                <div class="Polaris-Choice__HelpText" id="optionalHelpText">Merchant can upload PDF if they have ready PDF.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Polaris-Card" v-if="parseInt(form.guide_type) === 0">
                            <div class="Polaris-Card__Header">
                                <h1 class="Polaris-Heading">Create User Guide</h1>
                            </div>
                            <div class="Polaris-Card__Section">
                                <form method="post">
                                    <div class="Polaris-FormLayout">
                                        <div class="Polaris-FormLayout__Item" >
                                            <div data-polaris-theme-provider="true"
                                                 style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                                <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented">
                                                    <div class="Polaris-ButtonGroup__Item" style="width:100%;">
                                                        <div class="">
                                                            <ckeditor :editor="editor" v-model="form.description" :config="editorConfig" @ready="onReady"></ckeditor>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="Polaris-Card" v-if="parseInt(form.guide_type) === 1">
                            <div class="Polaris-Card__Header">
                                <h1 class="Polaris-Heading">Upload User Guide</h1>
                            </div>
                            <div class="Polaris-Card__Section">
                                <vue-dropzone ref="myVueDropzone" id="drop" :options="dropzoneOptions"
                                              @vdropzone-success="updateValue('pdf',$event)"
                                              @vdropzone-removed-file="updateValue('remove_pdf',$event)"
                                              @vdropzone-complete="updateValue('pdf_added',$event)"
                                              @vdropzone-mounted="updateValue('renderPDF')">
                                </vue-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                <div class="Polaris-Page Polaris-Page--fullWidth">
                <div class="Polaris-Page__Content">
                    <div class="Polaris-PageActions">
                        <div data-polaris-theme-provider="true"
                             style="--top-bar-background:#00848e;--top-bar-background-lighter:#1d9ba4;--top-bar-color:#f9fafb;">
                            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
                                <div class="Polaris-Stack__Item">
                                    <button @click="discard" type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span
                                        class="Polaris-Button__Text">Discard</span></span></button>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <button type="button" @click="sendForm" class="Polaris-Button Polaris-Button--primary" v-if="!processing" v-bind:class="{'Polaris-Button--disabled' : ( is_all_disable )}"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text"
                                    >Save</span></span>
                                    </button>
                                    <button v-if="processing" type="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import Model from "../shopify/Model";
    import {ResourcePicker} from '@shopify/app-bridge/actions';
    import CriticalBanner from "../shopify/CriticalBanner";
    import {Modal, Button} from '@shopify/app-bridge/actions';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import DecoupledEditor from '@ckeditor/ckeditor5-build-decoupled-document';


    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        components:{
            ckeditor: CKEditor.component,
            vueDropzone: vue2Dropzone
        },
        data() {
            return {
                editor: DecoupledEditor,
                editorData: '',
                editorConfig: {
                    ckfinder: {
                        // eslint-disable-next-line max-len
                        // uploadUrl: 'https://cksource.com/weuy2g4ryt278ywiue/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                        uploadUrl:
                            '/ckfinder/connector?command=QuickUpload&type=Files&responseType=json',

                    },
                    image: {
                        resize_enabled: true,
                        resize_dir: 'both',
                        resize_minWidth: '300',
                        resize_minHeight: '300',
                        toolbar: [ 'imageTextAlternative', '|', 'imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight'],

                        styles: [
                            'full',
                            'alignLeft',
                            'alignRight',
                        ],
                    },
                },
                dropzoneOptions: {
                    url: window.shopify_app_bridge.localOrigin + '/api/store-pdf',
                    thumbnailWidth: 150,
                    maxFilesize: 5,
                    maxFiles: 1,
                    acceptedFiles: 'application/pdf',
                    headers: { "My-Awesome-Header": "header value" },
                    addRemoveLinks:true,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Drop file here to upload",
                },
                primaryClass: 'Polaris-Button--primary',
                errors:{},
                is_edit:0,
                id:"",
                processing: false,
                form: {
                    ruleset_name: '',
                    selectedProducts: [],
                    status:true,
                    description:"",
                    guide_type: 0,
                },
                is_create_page:1,
                is_all_disable: false,
                is_display_link: false,
                page_url: '',
            }
        },
        created() {
            this.get();
        },
            methods: {
            updateValue(action, event){
                let base =  this;
                if( action === 'pdf' ){
                    base.form.description = event;
                }else if( action === 'remove_pdf' ){
                    base.$refs.myVueDropzone.enable();
                }else if (action === 'pdf_added') {
                    base.$refs.myVueDropzone.disable();
                }else if (action === 'renderPDF') {
                    let str = base.form.description;
                    if (str.length > 0) {
                        let new_str = str;
                        var extension = str.substring(new_str.lastIndexOf('.') + 1);
                        var name = str.substring(new_str.lastIndexOf('/') + 1);

                        var file = {size: 150, name: name, type: "pdf/" + extension};
                        var url = str;

                        base.$refs.myVueDropzone.manuallyAddFile(file, url);
                    }
                }
            },
            onReady( editor )  {
                // Insert the toolbar before the editable area.
                editor.ui.getEditableElement().parentElement.insertBefore(
                    editor.ui.view.toolbar.element,
                    editor.ui.getEditableElement()
                );
            },
            discard(){
                this.$router.push({name:'list'});
            },
            async sendForm(){
                let base = this;
                if (!base.processing) {
                    base.processing = true;
                    try {
                        let formData = new FormData(this.$refs.form);
                        formData.append('data', JSON.stringify(base.form));

                        if( base.form.guide_type === 1 ){
                            formData.append("file", base.form.description);
                        }
                        let url = (typeof this.id == "undefined") ? '/ruleset' : '/ruleset/'+this.id;
                        let header = {
                            'Content-Type': 'multipart/form-data',
                            '_method': 'POST',
                        };
                        for (var pair of formData.entries()) {
                            console.log(pair[0]+ ', ' + pair[1]);
                        }
                        let {data} = (typeof this.id == "undefined") ? await axios.post(url, formData, header) : await axios.post(url, formData, header);

                        base.$helpers.successToast(data.message);
                        base.$router.push({name:'list'});
                    } catch ({response}) {
                        base.errors = response.data;
                        base.processing = false;
                        window.scrollTo(0,0);
                    }
                    this.$helpers.stopLoading();
                }
            },
            async productPicker() {
                let base = this;
                const productPicker = ResourcePicker.create(shopify_app_bridge, {
                    resourceType: ResourcePicker.ResourceType.Product,
                    options: {
                        selectMultiple: true,
                        showHidden: false,
                        showVariants:false,
                        initialQuery:"",
                    },
                });
                productPicker.dispatch(ResourcePicker.Action.OPEN);

                productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                    let variants = [];
                    base.checkPush(selection);
                });
            },
            checkPush(products){
                let that = this;
                return new Promise((resolve, reject) => {
                    axios({
                        method: 'POST',
                        url: '/ruleset/check',
                        data: {data:products},
                    }).then(response => {
                        that.form.selectedProducts = that.form.selectedProducts.concat(response.data.data);
                        let unselected = response.data.total_selected - response.data.total_added;
                        if(unselected > 0){
                            that.$helpers.successToast(unselected+" product already added in the rulesets");
                        }
                    }).catch(error => {
                        let errors = error.response.data;
                        let pushError = '';
                        for (let error in errors) {
                            pushError = pushError + errors[error] + '<br/>'
                        }
                        that.errorMsg = pushError;
                        //that.criticalBanner = true;

                    });
                });
            },
            deleteProduct(value) {
                let that = this;
                const okButton = Button.create(window.shopify_app_bridge, {label: 'Delete'});
                okButton.subscribe(Button.Action.CLICK, () => {
                    if(typeof value[2] == 'undefined'){
                        that.form.selectedProducts.splice(value[1],1);
                    }else{
                        let id = parseInt(value[2]);
                        let {data} = axios.get('/ruleset/delete-product/'+ id);
                        //that.get();
                        that.form.selectedProducts.splice(value[1],1);
                        that.$helpers.successToast('Successfully Removed');
                    }
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                cancelButton.subscribe(Button.Action.CLICK, () => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                const modalOptions = {
                    title: 'Delete Product',
                    message: 'Are you sure you want to delete this product?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
            },
            async get() {
                this.id = this.$route.params.id;
                if(typeof this.id != "undefined"){
                    this.is_edit = 1;
                    this.$helpers.startLoading();
                    try{
                        let {data} = await axios.get('/ruleset/'+this.id+'/edit');
                        this.form = data;
                        this.form = {
                            ruleset_name: data.title,
                                selectedProducts: data.selected_products,
                                status: !!data.status,
                                description: data.description,
                                guide_type: data.guide_type,
                        };
                        this.is_display_link = true;
                    }catch (response) {
                        if(response.data.message) {
                            this.$helpers.errorToast(response.data.message);
                        }
                    }
                    this.$helpers.stopLoading();
                }else{
                    try{
                        let {data} = await axios.get('/ruleset/plan-details');
                        if( data.message.is_disable === 1 ){
                            this.errors = [];
                            this.errors.push(data.message.msg);
                            this.is_all_disable = true;
                        }else{
                            this.errors = {};
                            this.is_all_disable = false;
                        }
                        this.is_display_link = data.message.is_display_link;
                        this.page_url = data.message.page_url;
                    }catch (response) {
                        if(response.message) {
                            this.$helpers.errorToast(response.message);
                        }
                    }
                }
            },
        },
    };
</script>
<style lang="scss">
    .custom-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1.6rem;
    }
    .custom-list legend{
        display: inline-flex;
        margin-bottom: 0;
        margin-right: 1.6rem;
    }
    .custom-list ul{
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .custom-list ul li{
        margin-right: 1.6rem;
    }
    .mb-25{
        margin-bottom: 1.6rem;
    }
    .pb-0{
        padding-bottom: 0;
    }
    .w-100{
        width: 100%;
    }
    .d-flex{
        display: flex;
    }
    .ml-16{
        margin-left: 16px;
    }
    .align-end{
        align-items: flex-end;
    }
    .multiselect__placeholder{
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .multiselect__option--highlight, .multiselect__option--highlight:after{
        background: #1c2260;
    }

    #drop {
        height: 250px;
        padding: 40px;
    }
    #drop .dz-preview {
        width: 160px;
    }
    .vue-dropzone>.dz-preview .dz-details {
        color: #203fa5;
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url('/img/bg_pdf.png') !important;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: inherit;
    }
    .vue-dropzone>.dz-preview .dz-remove {
        color: #203fa5;
        border: 2px #203fa5 solid;
    }
</style>
