<template>
    <div>
        <div>
            <div class="Polaris-Card" style="overflow: initial;z-index: 9999;">
            <div class="Polaris-Card__Section">
                <div class="Polaris-Page-Header--separator user-guide">
<!--                    Create guide-->
                    <button class="accordion guide-product-title" >Create User Guide
                    </button>
                    <div class="panel">
                        <ul>
                            <li class="Polaris-Heading">About tutorial</li>
                            <p>
                                Here, we are going to create user guide.
                            </p>
                            <li class="Polaris-Heading">CreateUser Guide</li>
                            <p>- First, open user guide creater app and click on Create a User Guide button.<br>
                                - Here, we can create our user guide.
                            </p>
                            <img src="/images/installation-ss/create/1.png" class="user-guide-install-img">
                        </ul>
                    </div>

<!--                    Listing-->
                    <button class="accordion guide-product-title" >Listing
                    </button>
                    <div class="panel">
                        <ul>
                            <li class="Polaris-Heading">About tutorial</li>
                            <p>
                                Here, You can see listing of all user guides.
                            </p>
                            <li class="Polaris-Heading">See user guide listing.</li>
                            <p>- First, open user guide creater app and click on List button.
                            </p>
                            <img src="/images/installation-ss/list/1.png" class="user-guide-install-img">
                        </ul>
                    </div>

<!--                    Setting-->
                    <button class="accordion guide-product-title" >Setting
                    </button>
                    <div class="panel">
                        <ul>
                            <li class="Polaris-Heading">About tutorial</li>
                            <p>
                                Here, You can see setting for user guides.
                            </p>
                            <p>- First, open user guide creater app and click on Setting button.
                            </p>
                            <img src="/images/installation-ss/setting/1.png" class="user-guide-install-img">
                        </ul>
                    </div>

<!--                    Add Floating button or button or link in product page -->
                    <button class="accordion guide-product-title" >Add floating button or button or link in product page
                    </button>
                    <div class="panel">
                        <ul>
                            <li class="Polaris-Heading">About tutorial</li>
                            <p>
                                Here, You can see how to add floating button or button or link in product page.
                            </p>
                            <p>- First, open user guide creater app and go to product page view setting under setting tab.
                            </p>
                            <p>- Enable or disable floating button for product page.
                            </p>
                            <img src="/images/installation-ss/product-page-setting/1.png" class="user-guide-install-img">
                            <li class="Polaris-Heading">Add button or link to product page.</li>
                            <p>- Copy the code which you want to add.
                            </p>
                            <img src="/images/installation-ss/product-page-setting/2.png" class="user-guide-install-img">
                            <li class="Polaris-Heading">- Add code in product template.
                            </li>
                            <p>- - Now, click on “Online Store” menu and look for the edit code option under ‘Action’ dropdown option.
                            </p>
                            <img src="/images/installation-ss/product-page-setting/3.png" class="user-guide-install-img">
                            <p>- Now, place copied code in product-template.liquid file where you required.
                            </p>
                            <img src="/images/installation-ss/product-page-setting/4.png" class="user-guide-install-img">
                        </ul>
                    </div>

<!--                    Plan & Pricing-->
                    <button class="accordion guide-product-title" >Plan & Pricing
                    </button>
                    <div class="panel">
                        <ul>
                            <li class="Polaris-Heading">About tutorial</li>
                            <p>
                                Here, You can see plan details.
                            </p>
                            <li class="Polaris-Heading">See plan details.</li>
                            <p>- First, open user guide creater app and click on Plan & Pricing button.
                            </p>
                            <img src="/images/installation-ss/plan/1.png" class="user-guide-install-img">
                        </ul>
                    </div>

<!--                    Regroups user guide page-->
                    <button class="accordion guide-product-title" >Add regroups user guides page in menu.
                    </button>
                    <div class="panel">
                        <ul>
                            <li class="Polaris-Heading">About tutorial</li>
                            <p>
                                Here, You can see how to add regroup user guide page in main menu/footer in navigation.
                            </p>
                            <li class="Polaris-Heading">See below details.</li>
                            <p>- First, open your store and click on Online Store. go to navigation under online store.
                            </p>
                            <p>- Select Main menu or footer menu to add regroup user guide page.
                            </p>
                            <img src="/images/installation-ss/menu/1.png" class="user-guide-install-img">
                            <p>- Add Page in menu.
                            </p>
                            <img src="/images/installation-ss/menu/2.png" class="user-guide-install-img">
                            <p>- You can see this option in menu.
                            </p>
                            <img src="/images/installation-ss/menu/3.png" class="user-guide-install-img">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    export default{
        methods:{
            // Function to Show a Panel
            showPanel(elem) {
                this.hidePanels();
                var panel = elem.nextElementSibling;
                elem.classList.add("active");
                panel.style.maxHeight = panel.scrollHeight + "px";
            },
            hidePanels() {
                var acc = document.getElementsByClassName("accordion");
                var accPanel = document.querySelectorAll(".panel");
                for (let i = 0; i < accPanel.length; i++) {
                    accPanel[i].style.maxHeight = null;
                    acc[i].classList.remove("active");
                }
            }
        },
        mounted() {
            let base = this;
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    console.log('2232');
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        base.hidePanels();
                    } else {
                        base.showPanel(this);
                    }
                });
            }
        }
    }
</script>
