<template>
    <div class="">
<!--        START :: rating banner-->
        <div class="Polaris-Banner Polaris-Banner--hasDismiss Polaris-Banner--withinPage guide-rating-banner" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner6Heading" aria-describedby="Banner6Content">
            <div class="Polaris-Banner__Dismiss">
                <a type="button"  href="https://apps.shopify.com/user-guide-creator/reviews" target="_blank" class="Polaris-Button Polaris-Button--primary ml-16" v-on:click="get()"><span
                    class="Polaris-Button__Content"  v-model="search"><span
                    class="Polaris-Button__Text">Leave a review</span></span></a>
            </div>
            <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <path fill="currentColor" d="M2 3h11v4h6l-2 4 2 4H8v-4H3"></path>
          <path d="M5.2 18a.8.8 0 0 1-.47-.152.8.8 0 0 1-.322-.762l.743-5.203-2.917-2.917a.8.8 0 0 1-.196-.81.798.798 0 0 1 .63-.544l4.398-.734 2.218-4.435a.808.808 0 0 1 .72-.443.8.8 0 0 1 .715.45l2.123 4.362 4.498.801a.8.8 0 0 1 .623.547.798.798 0 0 1-.198.806l-2.917 2.917.744 5.203a.8.8 0 0 1-.327.764.799.799 0 0 1-.827.064l-4.382-2.22-4.502 2.223A.792.792 0 0 1 5.2 18z"></path>
        </svg></span></div>
            <div class="Polaris-Banner__ContentWrapper">
                <div class="Polaris-Banner__Heading" id="Banner6Heading">
                    <p class="Polaris-Heading">
                        How would you like our app?
                    </p>
                </div>
                <div class="Polaris-Banner__Content" id="Banner6Content">
                    <p>  Share your experience with our commmunity.</p>
                </div>
            </div>
        </div>
<!--        END :: rating banner-->
        <div class="Polaris-Page__Content">
            <div class="Polaris-Card">
                <div class="Polaris-Card__Header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2 class="Polaris-Heading">User Guide List</h2>

                        <div class="d-flex align-items-center">
                            <div class="Polaris-Labelled__LabelWrapper mb-0 mr-3">
                                <div class="Polaris-Label"><label id="PolarisSelect10Label" for="" class="Polaris-Label__Text mb-0">App Status</label></div>
                            </div>
                            <div class="Polaris-Select">
                                <select @change="sendForm" v-model="form.app_status" class="Polaris-Select__Input">
                                    <option value="1">Enable</option>
                                    <option value="0">Disable</option>
                                </select>
                                <div class="Polaris-Select__Content" aria-hidden="true">
                                    <span class="Polaris-Select__SelectedOption" >
                                        <span v-if="form.app_status==1">Enable</span>
                                        <span v-else>Disable</span>

                                    </span>
                                    <span class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path>
            </svg></span></span></div>
                                <div class="Polaris-Select__Backdrop"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="Polaris-Card__Section">
                    <div class="d-flex justify-content-between{">
                        <div class="Polaris-Connected w-100">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary products-searchbar">
                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                    <div class="Polaris-TextField__Prefix"><span
                                        class="Polaris-Icon Polaris-Icon--hasBackdrop" aria-label=""><svg
                                        class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path
                                        d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"
                                        fill="#95a7b7" fill-rule="evenodd"></path></svg></span></div>
                                    <input type="search" v-model="search" name="search_keyword"
                                           class="Polaris-TextField__Input browse_buy_product_search"
                                           aria-invalid="false"
                                           placeholder="Search title" autocomplete="off">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="Polaris-Button Polaris-Button--primary ml-16" v-on:click="get()"><span
                            class="Polaris-Button__Content"  v-model="search"><span
                            class="Polaris-Button__Text">Search</span></span></button>
                    </div>
                    <div class="Polaris-Labelled__HelpText mb-15">Type at least 3 characters</div>
                    <div class="Polaris-Card mt-1">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="text-left">Title</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">Total Downloads</th>
                                        <th class="text-left">Created At</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody v-if="items.length">
                                    <tr v-for="item in items">
                                        <td class="text-left">{{ item.title }}</td>
                                        <td class="text-left" v-html="checkType(item.status)"></td>
                                        <td class="text-left">{{item.downloads}}</td>
                                        <td class="text-left">{{item.created_at}}</td>
                                        <td class="text-center">
                                            <div>

                                                <router-link :to="{name :'ruleset',params: { id: item.id }}" tag="a" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeSlim"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Edit</span></span></router-link>

                                                <!--<div class="Polaris-ButtonGroup__Item"><button @click="deleteReport(item.id)" type="button" class="Polaris-Button Polaris-Button&#45;&#45;destructive Polaris-Button&#45;&#45;sizeSlim"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete</span></span></button></div>-->

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot v-else>
                                    <tr>
                                        <td colspan="5" style="text-align: center">
                                            No data found...!
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        components:{
        },
        data(){
            return{
                items: [],
                search: '',
                form:{
                    app_status:1,
                },
                processing:false,
            }
        },
        methods:{
            async sendForm() {
                let base = this;
                if (!base.processing) {
                    base.processing = true;
                    try {
                        this.$helpers.startLoading();
                        let data = "";
                        data = await axios.post('/ruleset/app-status', base.form);
                        this.$helpers.successToast(data.data.message);
                    } catch ({response}) {
                        base.errors = response.data;
                        window.scrollTo(0,0);
                    }
                    base.processing = false;
                    this.$helpers.stopLoading();
                }
            },
            async get() {
                this.$helpers.startLoading();
                try{
                    let {data} = await axios.get('/ruleset?api=1&s=' + this.search);
                    this.items = data.entities;
                    this.form.app_status = data.app_status;
                }catch (response) {
                    if(response.data.message) {
                        this.$helpers.errorToast(response.data.message);
                    }
                }
                this.$helpers.stopLoading();
            },
            checkType(id){
                switch (id) {
                    case 0:
                        return `<div><span class="Polaris-Badge Polaris-Badge--progressIncomplete"><span class=""><span class="Polaris-VisuallyHidden"></span></span>Disable</span></div>`;
                    case 1:
                        return `<div><span class="Polaris-Badge Polaris-Badge--statusSuccess"><span class=""><span class="Polaris-VisuallyHidden"></span></span>Enable</span></div>
                        `;

                }
            },
        },
        mounted(){
            this.get();
        },
    };
</script>
