<template>
    <div class="">
        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <div class="Polaris-Card d-flex justify-content-between" style="overflow: initial;z-index: 9999;">
                    <div style="width: 50%;">
                        <div class="Polaris-Card__Header">
                            <div class="align-items-center">
                                <h1 class="Polaris-Heading" style="text-align:center;">Configure how the app shows your user guides in one page</h1>
                            </div>
                        </div>
                        <div class="Polaris-Card__Section" style="">
                            <div class="Polaris-Page-Header--separator">
                                <router-link tag="button" :to="{name: 'page-settings'}" class="Polaris-Button" style="padding: 110px;"><span
                                    class="Polaris-Button__Content" style="width: 200px;"><span class="Polaris-Button__Text"
                                >Page Settings</span></span>
                                </router-link>
                            </div>
                        </div>
                        <div class="align-items-center" style="padding:2rem;width:200px;margin:auto;">
                            <h1 class="Polaris-Heading">(Recommended)</h1>
                        </div>
                    </div>
                    <div>
                        <div class="Polaris-Card__Header">
                            <div class="d-flex align-items-center justify-content-between">
                                <h1 class="Polaris-Heading" style="text-align:center;">Choose to add the user guide on the product page</h1>
                            </div>
                        </div>
                        <div class="Polaris-Card__Section" style="margin-top: 24px;">
                            <div class="Polaris-Page-Header--separator">
                                <router-link tag="button" :to="{name: 'settings'}" class="Polaris-Button" style="padding: 110px;"><span
                                    class="Polaris-Button__Content" style="width: 200px;"><span class="Polaris-Button__Text"
                                >Product Page View Settings</span></span>
                                </router-link>
                            </div>
                        </div>
                        <div class="align-items-center" style="padding:2rem;width:130px;margin:auto;">
                            <h1 class="Polaris-Heading">(Advanced)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
