// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'custom';
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
.Polaris-DropZone-FileUpload__Button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3.6rem;
    min-width: 3.6rem;
    margin: 0;
    padding: .7rem 1.6rem;
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: .1rem solid var(--p-border,#c4cdd5);
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: var(--p-override-none,.2s);
    transition-timing-function: var(--p-override-none,cubic-bezier(.64,0,.35,1));
    -webkit-tap-highlight-color: transparent;
}

//choose plane css

.wrapper {
    padding: 2rem 0;
}

.wrapper h1 {
    font-size: 2.25rem;
    margin-bottom: 3.125rem;
}
.choose-plan-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
}
.col {
    width: 350px;
    min-height: 565px;
    text-align: center;
    margin: 20px;
}

.col .card {
    height: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 1px 1px 25px 0px rgba(143, 85, 85, 0.1);
    box-shadow: 1px 1px 25px 0px rgba(143, 85, 85, 0.1);
    background-color: #fff;
}

.col .card .card-header {
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.col .card .card-header .title {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(37, 36, 53, 0.9);
    letter-spacing: 2px;
}

.col .card .card-header .price {
    font-size: 2.5em;
    color: #ff5a5f;
    margin: 0 auto;
    padding: 10px;
}

.col .card .card-header .price span {
    font-size: 0.5em;
    color: inherit;
}

.col .card .card-header .description {
    color: rgba(37, 36, 53, 0.7);
}

.col .card .card-header .line {
    width: 25%;
    margin: 15px auto 0;
    height: 3px;
    background-color: rgba(255, 90, 95, 0.9);
}

.col .card .features {
    height: 70%;
    text-align: left;
    list-style: none;
    padding: 1rem;
}

.col .card .features li {
    color: rgba(37, 36, 53, 0.7);
    margin-bottom: 1rem;
}

.col .card .features li .fa-check {
    color: #5ECD1A;
}

.btn-success {
    padding: 10px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
}

.alert {
    padding: 6px 12px;
    margin-bottom: 0px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #ce1b1b;
    background-color: #ffd4d4;
    border-color: #ffd4d4;
}
// END :: choose plane css

.guide-rating-banner{
    margin: 20px auto;
    //margin-top: 20px;
    max-width: 50%;
}
.guide-rating-banner .Polaris-Icon--colorInkLighter svg {
    fill: #f9c722;
}
.guide-rating-banner .Polaris-Icon--colorInkLighter:after {
     background-color: #f4f6f8;
}
.guide-rating-banner .Polaris-Icon--isColored {
    color: #f4f6f8;
}
.user-guide-install-img{
    width: 90%;
}
.meta-config-install-text{
    margin-top: 1rem;
}
a{
    color: #637381;
}
a:hover{
    text-decoration: none;
    color: #637381;
}
.back-dashboard {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: none;
    letter-spacing: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    padding: 0.9rem 0.8rem 0rem 0.8rem;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 3.6rem;
    margin: -0.4rem -0.8rem -0.4rem -0.4rem;
    /* padding: .8rem .8rem; */
    color: #637381;
    text-decoration: none;
}
.back-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 20;
    font-size: 14px;
}
.back-arrow {
    height: 1.5rem;
    width: 1.2rem;
    margin: -1rem 0 -1rem -0.8rem;
    color: #637381;
}
.Polaris-Page__Content{
    margin:0.5rem 0rem 0.5rem 0rem;
}
body{
    background-color: inherit;
}
.btn-link{
    color: #000000;
}
.btn-link:hover{
    text-decoration: none;
    color: #000000;
}
.card-header{
    background-color: #ffffff;
}
.clr-z-index{
    z-index: 999;
}

.vc-chrome{
    left: 0 !important;
}
