<template>
    <div class="Polaris-Card">
        <div>
            <ul role="tablist" class="Polaris-Tabs">
                <li  role="presentation" class="Polaris-Tabs__TabContainer" v-for="item in items">
                    <a id="plan-pricing" v-if="item.name === 'plan-pricing'" :class="activeClass(item.name)" :disabled="item.is_disable"  class="Polaris-Tabs__Tab " :href="pricing_path">
                        <span class="Polaris-Tabs__Title">{{ item.title }}</span>
                    </a>
<!--                d-->
                    <router-link v-else :class="activeClass(item.name)" :disabled="item.is_disable" :to="{name :item.name}" tag="button" class="Polaris-Tabs__Tab ">
                        <span class="Polaris-Tabs__Title">{{ item.title }}</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                items: [],
                show_sync_message:false,
                pricing_path: '',
                installation_guide_path: '',
                plan_id: '',
            }
        },
        created() {
            let base = this;
            base.plan_id = window.planID;
            this.$router.options.routes.forEach(route  => {
                if(route.meta.ignoreInMenu == 0){
                    this.items.push({
                        title: route.meta.title,
                        is_disable: (route.name == "ruleset")?base.show_sync_message:false,
                        name: route.name,
                        path: route.path,
                        dafaultActiveClass: route.meta.dafaultActiveClass,
                    })
                }
            })
            this.installation_guide_path = window.shopify_app_bridge.localOrigin + '/installation-guide';
            this.pricing_path = window.shopify_app_bridge.localOrigin + '/choose-plan/0';
        },
        watch: {
            '$route' (to, from) {
                let base = this;

                if(to.name == "ruleset" || from.name == "ruleset"){
                    let index = this.items.findIndex((c) => {
                        return c.name == "ruleset";
                    });
                    base.items[index].title = (Object.keys(to.params).length > 0 )?"Edit User Guide":"Create a User Guide";
                }
                if( to.name !== 'plan-pricing' ){
                    document.getElementById("plan-pricing").classList.remove("Polaris-Tabs__Tab--selected");

                    if( document.getElementById('plan-price') ){
                        document.getElementById('plan-price').style.display = 'none';
                    }
                    if( document.getElementById('plan-price-header') ){
                        document.getElementById('plan-price-header').style.display = 'none';
                    }
                }
            },
        },
        methods: {
            activeClass: function (...names) {
                for (let name of names) {

                    if ((name == this.$route.name)){
                        return 'Polaris-Tabs__Tab--selected';
                    }else{
                        if(( name ==  'pre-settings' && this.$route.name == 'settings') || ( name ==  'pre-settings' && this.$route.name == 'page-settings')){
                            return 'Polaris-Tabs__Tab--selected';
                        }
                    }

                }
            },
        }
    };
</script>
